/* Index page*/
body {
  font-family: "poppins", Verdana, Geneva, Tahoma, sans-serif;
  /*   display: flex;
  flex-direction: column;
  min-height: 100vh; */
}

a {
  text-decoration: none;
  color: #000;
}

footer {
  background-color: #0a3641;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  height: 100px;
  margin-top: 20px;
}

footer a {
  color: #fff;
  margin-left: 10px;
}

footer i {
  margin-left: 40px;
}

main {
  flex-grow: 1;
}

.footerinfo {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: left;
}

.logo {
  height: 100px;
  width: 200px;
  margin-bottom: 20px;
}

.logo-phone {
  display: none;
}

.nav-grid-phone {
  display: none;
}

nav li {
  display: inline-block;
  text-decoration: none;
}

/*.photo-wall {
    height: 150px;
    width: 200px;
    padding-left: 30px;
    padding:5px 5px 5px;
    margin-bottom: 20px;
}*/

.shop-button {
  background-color: #0a3641;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 12px 80px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.shop-button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.shop-button-space {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 300px));
  grid-gap: 100px;
  justify-content: center;
}

.nav-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 350px));
  padding: 1em;
  margin-left: 70px;
}

/* lIST OF JACKETS PAGE */

.rainydays-headertext {
  color: #0a3641;
}

.rainydays-headertext-phone {
  display: none;
}
.rd-jackets {
  height: 200px;
  width: 200px;
  padding-left: 30px;
  padding: 5px 5px 5px;
  text-decoration: none;
  text-align: center;
}

.rd-jackets-grid-phone {
  display: none;
}

.rd-jackets-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  margin-left: 100px;
}

/* Jacket info page*/

.rock-orange {
  background-color: #0a3641;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin-left: 350px;
}

.rd-jackets-info {
  width: 350px;
  height: 400px;
  margin-left: 50px;
}

.detailsanddelivery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 100px));
  grid-gap: 20px;
  margin-left: 150px;
  font-size: 12px;
}

.sizes {
  background-color: #0a3641;
  color: #fff;
  text-transform: uppercase;
  font-size: 0, 5em;
  width: 50px;
  height: 45px;
  border-radius: 3px;
  text-align: center;
}

.sizes-placement {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 100px));
  grid-gap: 30px;
  margin-left: 700px;
  margin-top: -90px;
  min-height: 40px;
}

.link-together {
  display: flex;
  grid-gap: 50px;
  margin: 30px;
}

.jacket-info {
  background-color: #0a3641;
  color: #fff;
  font-size: 20px;
  width: 550px;
  height: 180px;
  border-radius: 3px;
  text-align: center;
  margin-left: 700px;
  position: relative;
  top: -300px;
}

.addtobag {
  background-color: #fff;
  color: #0a3641;
  border: solid;
  color: #000;
  font-size: 0, 5em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 550px;
  min-height: 40px;
  position: relative;
  top: 60px;
}

.sizeguide {
  text-decoration: underline;
  font-size: 0, 2em;
  font: #000;
}

.link-together-phone {
  display: none;
}

.rd-jackets-info-phone {
  display: none;
}

.rock-orange-phone {
  display: none;
}
/* Checkout page */

.h1-mobile {
  display: none;
}
.shopping-info {
  background-color: #0a3641;
  color: #fff;
  font-size: 20px;
  width: 350px;
  height: 290px;
  border-radius: 3px;
  text-align: center;
}
.shopping-info-mobile {
  display: none;
}

.wholegridcheck {
  background-color: #d9d9d9;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-info-image {
  background-color: #d9d9d9;
  width: 350px;
  height: 290px;
  border-radius: 5px;
  text-align: center;
}

.jacket-checkout-info,
.shopping-info-grid {
  display: flex;
  margin: 50px;
  grid-gap: 130px;
}

.jacket-checkout-info {
  display: list-item;
  list-style: none;
}

.head-symbols ul {
  display: grid;
  grid-template-rows: repeat(5, minmax 0, 30px);
  margin-left: 30px;
}

.head-symbols i {
  display: grid;
  grid-template-rows: repeat(4, minmax 0, 30px);
  grid-gap: 30px;
  margin-left: 30px;
}

.buy-itemwhole {
  display: flex;
  justify-content: center;
}
.buy-item {
  background-color: #0a3641;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  width: 100px;
  height: 50px;
  padding: 10px 80px;
  border-radius: 5px;
  text-decoration: none;

  margin-top: 50px;
}

.buy-item:hover {
  display: block;
  cursor: pointer;
  transform: scale(1.3);
}

/* checkout success page*/

.rd-placement {
  background-color: #d9d9d9;
  width: 350px;
  height: 290px;
  border-radius: 5px;
  text-align: center;
  margin-left: 1000px;
  position: relative;
  top: -250px;
}

.shopmore {
  background-color: #0a3641;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  top: -200px;
}

.shopmore:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.jcinfo {
  background-color: #0a3641;
  width: 300px;
  height: 250px;
  border-radius: 5px;
}
.jcinfo p {
  color: #fff;
  /* text-transform: uppercase; */
}

.jacket-checkout-info {
  display: list-item;
  list-style: none;
  color: #000;
  margin-left: 50px;
  position: relative;
}

/* Contact page*/
/* 
.contact-symbols {
  display: flex;
  margin-left: 650px;
  grid-gap: 30px;
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.form-design {
  width: 20%;
  padding: 60px 40px;
  box-sizing: border-box;
  background-color: #0a3641;
  color: #fff;
  border-radius: 10px;
  margin-left: 30px;
  text-align: center;
  margin-left: 900px;
  position: relative;
  top: -350px;
}

#sendinbutton {
  background-color: #0a3641;
  opacity: 90%;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px 70px;
  border-radius: 10px;
  position: relative;
  top: 30px;
} */

.raindrop {
  height: 300px;
  width: 500px;
  padding-left: 10px;
  padding: 30px;
}

.logo-contact {
  height: 150px;
  width: 250px;
  margin-bottom: 20px;
  margin-left: 30px;
}
/* .form-design,
.raindrop {
  display: flex;
  grid-gap: 100px;
} */

/* About Rainydays*/

.logo-aboutRD {
  text-align: left;
  height: 100px;
  width: 200px;
}
.comfort {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}
.paragraph-info-1 {
  color: #fff;
  font-size: medium;
  margin-left: 100px;
}

.paragraph-info-2 {
  color: #fff;
  font-size: medium;
  margin-left: 100px;
}

.logo-image-about {
  height: 250px;
  width: 450px;
  margin-left: 900px;
}

#img {
  position: relative;
  top: -400px;
}

.photo-reel {
  display: grid;
  grid-template-columns: repeat(4, minmax 0, 150px);
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.photo-reel-img {
  max-height: 300px;
  max-width: 300px;
  padding: 10px 10px 10px 10px;
  position: relative;
  top: -200px;
}

#imgsize {
  max-width: 300px;
  min-height: 200px;
}

/* New changes march 2023*/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  width: auto;
  margin-top: 10px;
}
.hamburger-menu {
  display: none;
}
.logo {
  width: 170px;
  height: 100px;
  margin-top: -40px;
  margin-right: 150px;
}

.logo-mobile {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #0a3641;
  text-decoration: none;
}

nav ul li a:hover {
  color: #2b8fa8;
  transition: 0.3s;
}

.h1-index {
  color: #0a3641;
  margin-left: 590px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.h1-index1 {
  color: #0a3641;
  margin-left: 550px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.index-cover {
  content: url(../images/benjamin-trosch-upiimO86Koo-unsplash.jpg);
  width: 100vw;
  height: 60vh;
}

.index-cover-mobile {
  display: none;
}

.index-info {
  background-color: #b7b7b7;
  margin-bottom: 100px;
}

.photo-wall {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 150px));
  grid-gap: 200px;
  margin-left: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.photo-wall-img {
  height: 220px;
  width: 290px;
  border-radius: 30%;
  margin-bottom: 50px;
}

.text-wall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  width: 100px;
  font: #fff;

  /*   display: grid;
  grid-template-columns: repeat(4,minmax(0,100px));
   grid-gap: 300px; 
   margin-left: 70px;
   margin-top: 100px; */
}

.content {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  gap: 150px;
}

.content div p {
  margin-top: 50px;
}

span {
  color: #0a3641;
  text-transform: uppercase;
}

.rainyinfo {
  margin-left: 1000px;
  margin-top: -30px;
}

.rainy-info p {
  margin-top: -30px;
}

/* New Contact CSS */

.container-con {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1vw 4vw;
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
  margin-top: -1550px;
  margin-left: 600px;
}

form h3 {
  color: #000;
  font-weight: 800;
  margin-top: 50px;
}

form input,
form textarea {
  display: flex;
  justify-content: center;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 13px;
}

form button {
  padding: 15px;
  background: #000;
  color: #ffff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.form-error {
  display: none;
  text-transform: capitalize;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.contact-imgs {
  display: grid;
  grid-template-rows: repeat (2 minmax(0, 150px));
  margin-left: 50px;
}

.Hello-contact {
  color: #0a3641;
  display: flex;
  justify-content: center;
  justify-content: center;
}

/* New about page code*/

.about-info {
  margin-top: -230px;
}

.content-contact {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  gap: 150px;
}

.content-contact div p {
  margin-top: 50px;
}

.index-info-contact {
  background-color: #b7b7b7;
  margin-top: -700px;
  margin-bottom: 100px;
}

/* Media Queries*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Hamburger menu*/
  .navbar {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #0a3641;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: 130px;
    height: 100px;
    margin-left: 100px;
  }

  .index-cover {
    display: none;
  }

  .index-cover-mobile {
    display: block;
    content: url(../images/benjamin-trosch-upiimO86Koo-unsplash.jpg);
    width: 100vw;
    height: 25vh;
    margin-top: 20px;
  }

  .shop-button {
    background-color: #0a3641;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop-button:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  .shop-button-space {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100px));
    gap: 50px;
    justify-content: center;
  }
  .h1-index {
    color: #0a3641;
    margin-left: 60px;
    font-size: 25px;
  }

  .h1-index1 {
    color: #0a3641;
    margin-left: 55px;
    font-size: 17px;
  }

  .index-info {
    background-color: #b7b7b7;
    margin-bottom: 20px;
  }

  .content {
    max-width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    gap: 50px;
    margin-top: -20px;
  }

  .content div p {
    margin-top: 50px;
    font-size: 12px;
  }

  .photo-wall-img {
    height: 100px;
    width: 100px;
    border-radius: 20%;
    /*  margin-bottom: 50px; */
  }

  span {
    color: #0a3641;
    text-transform: uppercase;
  }

  /* Footer*/

  footer {
    background-color: #0a3641;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    height: 50px;
    width: 100vw;
  }

  footer a {
    color: #fff;
    margin-left: 10px;
  }

  footer i {
    margin-left: 20px;
  }

  main {
    flex-grow: 1;
  }

  .footerinfo {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: left;
  }
  .rainyinfo {
    display: none;
  }
  /* List of Jackets Media Queries*/

  .rainydays-headertext {
    display: none;
  }
  .rainydays-headertext-phone {
    color: #0a3641;
    font-size: 10px;
    position: relative;
    top: -20px;
  }
  .rd-jackets-grid {
    display: none;
  }

  .rd-jackets-grid-phone {
    display: grid;
    grid-template-rows: repeat(7, minmax(0, 50px));
    grid-gap: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .rd-jackets-phone {
    height: 70px;
    width: 70px;
    padding-left: 30px;
    text-decoration: none;
    text-align: center;
  }

  .rd-jackets {
    display: none;
  }

  /* Jacket info page Media Queries */

  .rock-orange {
    display: block;
    background-color: #0a3641;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    margin-left: -150px;
  }

  .rock-orange h1 {
    font-size: 15px;
  }

  .rd-jackets-info {
    display: block;
    width: 170px;
    height: 170px;
    margin-left: 50px;
    margin-top: 120px;
  }

  .sizeguide {
    display: block;
    text-decoration: underline;
    font-size: 15px;
    color: #000;
  }
  .detailsanddelivery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100px));
    grid-gap: 20px;
    margin-left: 70px;
    font-size: 12px;
    margin-top: 100px;
  }

  .sizes {
    background-color: #0a3641;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
  }

  .sizes-placement {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 100px));
    grid-gap: 20px;
    margin-left: 30px;
    margin-top: -90px;
    min-height: 40px;
  }

  .jacket-info {
    background-color: #0a3641;
    color: #fff;
    font-size: 10px;
    width: 210px;
    height: 100px;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
    top: 20px;
    margin-top: 200px;
    margin-left: 50px;
    margin-bottom: 130px;
  }

  .addtobag {
    display: block;
    background-color: #fff;
    width: 200px;
    color: #0a3641;
    border: solid;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 10px;
    border-radius: 5px;
    text-decoration: none;
    min-height: 40px;
    position: relative;
    top: 300px;
    margin-left: 50px;
    margin-bottom: -100px;
  }

  /* Checkout page mobile version*/
  .jcinfo {
    display: none;
  }

  .shopping-info {
    display: none;
  }

  /*  .shopping-info-image,
  .shopping-info-mobile {
    display: flex;
    align-items: center;
  } */

  .h1-mobile {
    display: block;
    font-size: 10px;
    color: #0a3641;
    margin-top: 0px;
  }
  .shopping-info-image {
    background-color: #d9d9d9;
    content: url(../images/RainyDays_Jacket1.png);
    width: 180px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    margin-top: 600px;
    margin-right: -120px;
  }

  .shopping-info-mobile {
    display: block;
    background-color: #0a3641;
    color: #fff;
    margin-left: 80px;
    font-size: 9px;
    width: 200px;
    height: 180px;
    border-radius: 3px;
    margin-left: -200px;
    margin-top: 800px;
    text-align: center;
  }

  .shopping-info-mobile h3 {
    font-size: 18px;
    color: #fff;
  }
  .shopping-info-mobile p {
    font-size: 15px;
    color: #fff;
  }

  .wholegridcheck {
    background-color: #d9d9d9;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buy-itemwhole {
    display: flex;
    justify-content: center;
  }
  .buy-item {
    background-color: #0a3641;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    width: 80px;
    height: 50px;
    padding: 5px 60px;
    border-radius: 5px;
    text-decoration: none;

    margin-top: 550px;
  }

  .buy-item:hover {
    display: block;
    cursor: pointer;
    transform: scale(1.3);
  }

  .rd-jackets-grid-phone {
    display: grid;
    grid-template-rows: repeat(7, minmax(0, 50px));
    grid-gap: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .rd-jackets-phone {
    height: 70px;
    width: 70px;
    padding-left: 30px;
    text-decoration: none;
    text-align: center;
  }

  /* Checkout success page mobile version*/

  .rd-placement {
    background-color: #d9d9d9;
    content: url(../images/RainyDays_Jacket1.png);
    width: 170px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    position: relative;
    top: 30px;
  }

  .shopping-info-mobile {
    display: block;
    background-color: #0a3641;
    color: #fff;
    margin-left: 80px;
    font-size: 9px;
    width: 200px;
    height: 180px;
    border-radius: 3px;
    margin-left: -200px;
    margin-top: 800px;
    text-align: center;
  }

  .shopping-info-mobile h3 {
    font-size: 18px;
    color: #fff;
  }
  .shopping-info-mobile p {
    font-size: 15px;
    color: #fff;
  }

  .shopmore {
    display: block;
    background-color: #0a3641;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 40px;
    margin-top: 400px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
  }

  .shopmore:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  /* Contact page mobile version*/

  .Hello-contact {
    display: block;
    color: #0a3641;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 18px;
  }
  /*Input form*/

  .container-con {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 650px;
    margin-left: -310px;
  }

  form {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 4vw;
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: -1550px;
    margin-left: 600px;
  }

  form h3 {
    color: #000;
    font-weight: 800;
    margin-top: 50px;
  }

  form input,
  form textarea {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 13px;
  }

  form button {
    padding: 15px;
    background: #000;
    color: #ffff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }

  .form-error {
    display: none;
    text-transform: capitalize;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  }

  .contact-imgs {
    display: block;
    display: grid;
    grid-template-rows: repeat (2 minmax(0, 100px));
    margin-left: 50px;
  }

  .raindrop {
    display: block;
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding: 30px;
  }

  .index-info-contact {
    background-color: #b7b7b7;
    margin-top: -700px;
    margin-bottom: 100px;
    width: 100vw;
  }

  .content-contact {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    gap: 20px;
  }

  .content-contact div p {
    margin-top: 50px;
    font-size: 10px;
  }

  .photo-wall-img {
    height: 50px;
    width: 90px;
    border-radius: 30%;
    margin-bottom: 50px;
  }
  /* About Rd Mobile version*/

  .logo-image-about {
    display: none;
  }

  .paragraph-info-1 {
    color: #fff;
    font-size: small;
    margin-left: 60px;
  }

  .paragraph-info-2 {
    color: #fff;
    font-size: small;
    margin-left: 60px;
    margin-bottom: 300px;
  }
}
